@import "../valo/valo.scss";
@import "common";
@import "login";
@import "dashboardview";
@mixin VTheme {
  @include valo;

	@include dashboard-common;
	@include dashboard-login-view;
	@include dashboard-dashboard-view;


	.v-filterselect-input{
		font-size : 20px;
	}
	.v-window-yellowsub .v-window-header {
		color: blue;
		height : 5px ;
		//background-color : red ;
	}
	
	.v-captiontext{
		font-size: 10px;
		font-weight: bold;
	}
	
	.v-treegrid-cell-content{
		font-size : 10px ;
	}
	.v-window-outerheader{
		visibility: hidden;
	}
	
	.v-filterselect-big {
	    height: 28px;
	    font-size: 24px;
	    font-weight: bold;
	    font-family: initial;
	}
	
}
