<table style="width:100%;">

	<tbody>
		<tr>
			<td style="width:100%; text-align: center;">
				<img id="imageuploadtag"  style="border-radius: 50%;"src="data:image/svg+xml;base64,i_m_g_s_t_r_i_n_g" width="200px" height="100%">
			</td>
		</tr>
		<tr>
			<td style="width:100%; text-align: center;">
				<div location="okBtn"> </div>
			</td>
		</tr>
	</tbody>

</table>